
/*se define estilo general para el color de fondo y fuente de la pagina*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
}

/*Se trabaja con distintos elementos del html llamandolos por su ID o clase según corresponda para entregar estilo*/
.img-logo
{
  
width: 3rem;

}

.logo-text
{
color:#FFFFFF;
font-family: 'Pacifico', cursive;
font-weight: 400;
font-size: 1.5em;

}

#id
{
background-color: #000000;

}

.text-1
{
padding-bottom: 2rem;
border-bottom: #5bc0de solid;
text-align: center;
font-family: 'Pacifico', cursive;
font-weight: 400;

}

.text-2
{
padding-bottom: 2rem;
border-bottom: #5bc0de solid;
text-align: center;
padding-top: 2em;
font-family: 'Pacifico', cursive;
font-weight: 400;
}

.ico-des
{

margin: 5em solid;
border: #5bc0de;
background-color: #5bc0de;
padding-right: 3em;
padding-left: 3em;
text-align: center;


}

.footer-icon-section a
{
  display: inline-block;
  padding: 0.3em;
  color: #FFFFFF;

}

.foo-text
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;


}

.present-sec p
{
font-family: 'roboto', sans-serif;
font-weight: 300;
}

.card-deck
{

  font-family: 'roboto', sans-serif;
  font-weight: 300;

}





